*.vcd
*.vdb/
*.wlf
testbenches/common/inputs/
*.dump
*.o
*.riscv
*.jou
*.log
*.wdb
*.pb
*.swp
xelab*
xsim*
xvlog*
webtalk*
*.wcfg
.Xil/
vivado_*
imports/
software/riscv-tools/riscv-install
software/riscv-tools/rocket-chip
software/riscv-tools/

vcdplus.vpd
ucli.key
simv
simv.daidir
DVEfiles
csrc
software/spmd/*/build/
software/spmd/*/link_script.ld
