simv-pc-histogram
simv-pc-histogram.daidir
simv-debug
simv-debug.daidir
simv-profile
simv-profile.daidir
simv-coverage
simv-coverage.daidir
vc_hdrs.h
stack.info.*
*/build-pc-histogram
*/build-profile
*/build-debug
*/build-coverage
*/build
*/csrc
*/csrc-pc-histogram
*/csrc-debug
*/csrc-profile
*/csrc-coverage
*/*.tr
*/bsg_tag_boot_rom.v
